.badan{
    text-decoration: no;
    min-height: 100%;
    background: silver;
    color: white;
    width: 99.4%;
    background-size: 100%;
	background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    transition-property: all;
    transition-duration: 2s;
    transition-timing-function: linear;
    transition-delay: 2s;

}
.header {
    position: unset;
    color: red;
    background-color: rgb(49, 49, 49);
    margin-top: -1.2%;
    margin-left: -1%;
    text-align: right;
}

.header h1{
    position: absolute;
    padding-left: 30px;
    margin-top: 1%;
    text-align: left;
}

.header li {
    display: inline-block;
    list-style: none;
}

a {
    color:#ffffff;
    
    }
    
a:hover {
    color:red;
}

.header li a {
    text-decoration: none;
	font-size: 13px;
    list-style: none;
	text-transform: uppercase;
	padding: 25px 0;
    margin-right: 45px;
    display: block;
    
}

.footer{
    position: fixed;
    text-decoration: none;
    bottom: 0;
    width: 99.9%;
    height:60px;   /* tinggi dari footer */
    background: rgb(53, 53, 53);
    margin-left: -0.5%;
}

.footer .sosmed{
    float: right;
    text-decoration: none;
	font-size: 12px;
    list-style: none;
	text-transform: uppercase;
	padding: 25px 0;
    margin-right: 45px;
    display: block;
}

.footer .sosmed .media{
    padding-right: 30px;
    text-decoration: none;
}

.footer .sosmed .icon{
    width: 12px;
}

.footer .copyright{
    font-size: 10px;
    padding: 40px 0 0 10px;
}

.badan .isi{
    margin: 20px 70px 0 70px;
    background-color: slategray;
}

.isi .photo{
    border-style: solid;
    border-color: white;
    width: 45%;
    float: left;
    margin : 40px 50px 30px 70px;
}

.isi .lb{
    color: rgb(255, 255, 255);
    margin-right: 70px;
    padding-top: 200px;
    padding-bottom: 30px;
    text-align: justify;
    line-height: 25px;
}

/*ABOUT*/

.badan .sesi{
    margin: 0 250px 0 250px;
    padding: 25px 25px 25px 25px;
    background: slategrey
}

.badan .sesi .pas{
    padding-left: 10px;
    float: right;
    width: 50%;
}

.badan .sesi .tabel1{
    align-content: center;
    line-height: 27px;
}
.badan .sesi .tabel2{
    border-style: solid;
    border-color: black;
    border-width: thick;
    align-content: center;
    line-height: 25px;
    width: 100%;
}
.badan .sesi .tabel3{
    border-inline-end-style: solid;
    border-style: solid;
    border-color: black;
    border-width: thick;
    align-content: center;
    line-height: 25px;
    width: 100%;
}
.badan .sesi h1{
    text-align: center;
    padding-bottom: 20px;
    font-size: 30px;
}
.badan .sesi h2{
    border: 2px;
    align-content: center;
    line-height: 25px;
    width: 100%;
}

.badan .sesi table:hover{
    background: rgb(66, 66, 66);
    color: white;
}

.badan .sesi tr:hover{
    background: rgb(137, 187, 238);
    color: white;
}

.foot{
    position: relative;
    text-decoration: none;
    bottom: 0;
    width: 99.9%;
    height:60px;   /* tinggi dari footer */
    background: rgb(43, 42, 42) ;
    margin-left: -0.5%;
    margin-top: 40px;
}

.foot .sosmed{
    float: right;
    text-decoration: none;
	font-size: 12px;
    list-style: none;
	text-transform: uppercase;
	padding: 25px 0;
    margin-right: 45px;
    display: block;
}

.foot .sosmed .media{
    padding-right: 30px;
    text-decoration: none;
}

.foot .sosmed .icon{
    width: 12px;
}

.foot .copyright{
    font-size: 10px;
    padding: 40px 0 0 10px;
}



/* KONTAK */

.sesikontak{
    margin: 0 350px 0 350px;
}

.sesikontak h2{
    color: black;
}

.sesikontak .legend{
    color: black;
}

.sesikontak .form table{
    padding: 30px 30px 30px 30px;
    line-height: 30px;
    width: 100%;
    background-color: grey;
}

.sesikontak .form table .masuk{
    width: 100%;
}

input:hover{
    color: white;
    background: slategrey
}


/* PHOTO */

.badan .ss{
    margin: 0 150px 0 150px;
    background: slategray;
    padding: 30px 30px 40px 30px;
}

.badan .ss h2{
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 30px;
    background-color: rgb(34, 34, 34);
}

.badan .ss .pic1{
    background: rgb(68, 68, 68);
}

.badan .ss .ket1{
    text-align: justify;
    padding: 65px 0 70px 20px;
}

.badan .ss .ket2{
    text-align: justify;
    padding: 50px 0 30px 20px;
}

.badan .ss .ket3{
    text-align: justify;
    padding: 65px 0 50px 20px;
}

.badan .ss .ket4{
    text-align: justify;
    padding: 50px 0 45px 20px;
}

.badan .ss .ket5{
    text-align: justify;
    padding: 65px 0 30px 20px;
}

.badan .ss .ket6{
    text-align: justify;
    padding: 110px 0 20px 20px;
}

.badan .ss .ket7{
    text-align: justify;
    padding: 85px 0 30px 20px;
}

.badan .ss .ket8{
    text-align: justify;
    padding: 95px 0 20px 20px;
}

.badan .ss .ket9{
    text-align: justify;
    padding: 120px 0 30px 20px;
}

.badan .ss .ket10{
    text-align: justify;
    padding: 60px 0 20px 20px;
}

.badan .ss .ket11{
    text-align: justify;
    padding: 85px 0 30px 20px;
}

.badan .ss .ket12{
    text-align: justify;
    padding: 110px 0 20px 20px;
}




.badan .ss h4{
    font-size: 25px;
}

.badan .ss .g1{
    float: right;
    width: 40%;
    padding-left: 50px;
    padding-top: 20px;
    padding-right: 20px;
}
.badan .ss .g2{
    float: left;
    width: 40%;
    padding-right: 50px;
    padding-top: 20px;
}